.navigation {
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
  background-color: white;
  border-top: 2px solid black;
  display: flex;

  ul {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &:hover {
        border-bottom: 1px;
      }

      a {
        color: #667;
        font-size: 32px;

        :hover {
          color: black;
        }
      }
    }
  }
}
